body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: green;
}
/*.navbar{
  background-color: blue;
}*/
.frozen{
  color: blue;
}
.r{
   background-color: #F40713;
}
.g{
   background-color: #22FF4D;
}
.jumbotron .dropper{
  text-align: right;
}
#map {
   height: 80%;
   width:100%;
}