<div layout="column" class="fixedColumn">
  <section layout="row" flex>

    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">

      <md-toolbar class="md-theme-indigo ">
        <h1>Paddle News</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>

        <div class="container">
          <div class="row">
            <div id="news">
              <ol>
                <li ng-repeat="article in newsFeed">
                   <a href={{article.url}}><h4>{{article.Tag}}</h4></a>
                </li>
              </ol>
            </a>     
            </div>
          </div>
        </div>      
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <md-card id="homeCard" md-whiteframe="8" flex>
      <div id="backGroundContainer">
        <img id="backgroundImg" data-type="background" data-speed="10" ng-class="setBackground()">
      </div>
        <md-card-title class="col-xs-12">
          <md-card-title-text>
            <span class="md-headline">riverCycle.beta</span>
          </md-card-title-text>
          <span>
            <md-button ng-click="toggleLeft()"
              class="md-primary" hide-gt-md>
              Top Ten
            </md-button> 
            <md-button ng-click="toggleRight()"
              ng-hide="isOpenRight()"
              class="md-primary">
              Quick View
            </md-button>
          </span>
        </md-card-title>
        <md-card-actions class="col-xs-10">
            <div>
              <h6>
                Welcome to theRiverReport.beta, this website is a work in progress, and if you are using it that makes you a beta user.  This website is intended as a research tool for water levels.  Designed to be mobile friendly you can look up your favorite river anywhere in the world.  Currently, just a few futures are available.   But, these futures, you will find, makes this website unique.  <br><br>

                A user-friendly interface.  The ability to set up daily text msg and email water level alerts. Charts for in depth focus on previous year water levels.  We hope theRiverReport will become your go to application for all your whitewater needs.  
                 <br><br>
                
                Be the First boater on the block to know when Piney has enough flow to run beaver attack.  Monitor the crystal gorge and walk around Zute Shoot.  Plan the perfect family trip on the Yampa or float the Flaming Gorge.  The world is your oyster and this application will make life easier.  File your taxes, take better notes, insider stock tips, learn to code, this application will not help with any of these things.  But, if you want to fire off Gore Canyon at 8k, you might be in the right place.  
              </h6>
            </div>
        </md-card-actions>
      </md-card>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Quick View</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <md-button ng-click="close()" class="md-primary">
          Close Quick View
        </md-button>   
        <side-table></side-table>
      </md-content>
    </md-sidenav>
  </section>
</div>


