<section id="backgroundImg" data-type="background" data-speed="10" ng-class="setBackground()">
  <article>
    <div class='container'>
      <div class="offset-md-2 col-md-8">
        <h1 class="text-center riverHeader">theRiverReport </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron" id="news">
          <div class="columns">
            <div ng-repeat="article in newsFeed">
              <a href={{article.url}}>
                <h4>{{article.Tag}}</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<section id="middleText" data-type="background" data-speed="10">
  <article>
    <div class="container">
      <div class="col-md-4">
        <h5>
          Welcome to theRiver Report, a website designed to help you the user monitor flows on your favorite rivers. We provide various tools to help you choose your next adventure.  Maps, River levels, and a trilio api to allow for sms noticifications when your favorite river reaches an appropiate level for boating.<br><br>
          
          Be the First boater on the block to know when Piney has enough flow to run beaver attack.  Monitor the crystal gorge and walk around Zute Shoot.  Plan the perfect family trip on the Yampa or float the Flaming Gorge.  The world is your oyster and this application will make life easier.  File your taxes, take better notes, insider stock tips, learn to code, this application will not help with any of these things.  But, if you want to fire off Gore Canyon at 8k, you might be in the right place.  
        </h5>
      </div>

      <div class="col-md-4">
        <h5>
          Pig rump ham pork loin. Pork brisket andouille venison. Ribeye rump cupim meatball ham doner fatback flank corned beef tail drumstick. Strip steak andouille alcatra turducken ribeye. Pork shank venison short ribs. Strip steak tongue frankfurter pork chop ball tip.<br><br>

           Hamburger ribeye spare ribs porchetta, beef ribs pork belly tail prosciutto leberkas venison turducken cow ham jowl. Pastrami salami porchetta meatball landjaeger sirloin kevin ham. Porchetta filet mignon doner ham hock sirloin prosciutto, drumstick picanha. Ground round swine jerky, brisket short ribs pork t-bone short loin shank boudin flank prosciutto tenderloin. Picanha shankle alcatra doner fatback, andouille tri-tip ribeye prosciutto. Shankle biltong spare ribs flank, pastrami tail doner jowl pork drumstick pork chop cupim meatloaf alcatra pig. Pork belly alcatra capicola kielbasa ground round rump jerky venison ham.
        </h5>
      </div>

      <div class="col-md-4">
        <h5>
        Frankfurter ham hock bacon, tenderloin capicola prosciutto fatback venison pancetta shoulder. Beef ribs pork chop bresaola drumstick flank pancetta, picanha chicken venison landjaeger tenderloin. Pork swine boudin, landjaeger cupim pork loin prosciutto venison bacon beef ribs leberkas sausage picanha porchetta ball tip. Jerky meatball ham chicken leberkas. Chuck tail beef pork loin fatback cow. Ribeye jerky sirloin, drumstick capicola landjaeger turkey. Pork leberkas swine sausage.<br><br>

        Pig filet mignon tenderloin brisket biltong flank. Venison turducken sausage leberkas tongue pastrami short ribs shankle meatball prosciutto. Sausage beef porchetta tri-tip meatloaf bresaola. Capicola picanha pork chop salami corned beef. Alcatra frankfurter cow kevin venison sausage short ribs ball tip hamburger. Hamburger turkey ham andouille salami prosciutto flank shankle pork belly. Jerky capicola tenderloin pork chop biltong salami rump ham hock shank doner flank strip steak corned beef porchetta.
        </h5>
      </div>
    </div>
  </article>
</section>

<section id="bottomImg" data-type="background" data-speed="15">
  <article>
  </article>
</section>
<!-- <footer class="c-navbar" id="footer">
  <div class="navbar-text pull-right ">
    <a href="https://paulsiskind.herokuapp.com/"><p>©BrokenPaddleProductions</p></a>
  </div>
</footer> -->

<md-toolbar class="md-hue-9" id="footer">
  <div layout="row" layout-align="end center>
    <a href="https://paulsiskind.herokuapp.com/"><p>©BrokenPaddleProductions</p></a>
  </div>
</md-toolbar>

