<!-- <div ng-controller="RiverController" -->
  <div class="jumbotron">
    <ul class="nav navbar-nav">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="btn btn-primary dropdown-toggle">Choose a State {{viewBarState}}</span></a>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="state('al')">Alabama</a></li>
          <li><a href="#" ng-click="state('ak')">Alaska</a></li>
          <li><a href="#" ng-click="state('az')">Arizona</a></li>
          <li><a href="#" ng-click="state('ar')">Arkansas</a></li>
          <li><a href="#" ng-click="state('co')">Colorado</a></li> 
       </ul>
      </li>
     </ul>

  <ul class="nav navbar-nav">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="btn btn-primary dropdown-toggle">Choose a Class {{viewBarClass}}</span></a>
      <ul class="dropdown-menu">
        <li><a href="#" ng-click="class('v')">Class V</a></li>
        <li><a href="#" ng-click="class('iv')">Class IV</a></li>
        <li><a href="#" ng-click="class('iii')">Class III</a></li>
        <li><a href="#" ng-click="class('ii')">Class II</a></li>
        <li><a href="#" ng-click="class('i')">Class I</a></li> 
     </ul>
    </li>
   </ul>


   
  

  </div>

   <h1 class="well"> {{viewBarState}} {{viewBarClass}} {{flows.weather}} </h1>

   <table class="table table-hover">
        <th>Section</th>
        <th>River Name</th>
        <th>State</th>
        <th>Class</th>
        <th>Season</th>
        <th>Flow</th>
    
      <tr ng-repeat="water in coWaters | filter: search | filter: {state:choice} | filter:{class:classSearch}">
        <td><a href="/{{water.id}}">{{water.name}}</td>
        <td>{{water.nameProper}}</a></td>
        <td>{{water.state}} </td>
        <td>{{water.class}} </td>
        <td>{{water.season}} </td>
        <td>{{water.timeSeries[0].values[0].value[0].value}}</td>
        <td> 
          <div class="frozen" ng-if="flows[water.name] == -999999">Frozen</div>
          <div ng-if="flows[water.name] != -999999">{{flows[water.name]}}</div>

          </td>
       <!--  <td><p ng-model="tableFlow=" {{water.USGSid}}></p> {{flows.timeSeries[0].values[0].value[0].value}}</td> -->
      </tr>
    
    </table>

 </div>