<div layout="column" class="fixedColumn">

  <section layout="row" flex>

    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">

      <md-toolbar>
        <h1 class="md-toolbar-tools">River Info</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close River Info
        </md-button>

        <div flex layout="column">
          <span class="riverpageDashboard">
            <p>Location: {{riverInfo.nameProper}}</p>
            <p>Section: {{riverInfo.name}} </p>
            <p>Class:  {{riverInfo.class}} </p>
            <p>CFS: 
              <span class="frozen" ng-if="flows.timeSeries[0].values[0].value[0].value == -999999"> Frozen</span>  
              <span ng-if="flows.timeSeries[0].values[0].value[0].value != -999999">{{flows.timeSeries[0].values[0].value[0].value}}</span>
            </p>
          </span>    
          <span ng-if='user.facebookId' class="addFav" class="text-right">
            <md-button class="md-raised md-cornered md-primary" type="submit" value="Add to rivers" ng-click="addFav(riverInfo.id)">Favorite
            </md-button>
            <md-input-container>
              <label>Sms Level</label>                
              <input ng-model="level"  type="number" ng-change="setWaterLevel(riverInfo.id, level)">
            </md-input-container> 
          </span>

          <div class="graphBut">
             <md-button class="md-raised md-primary" ng-click="show=!show">
             Quick Search
             </md-button>
            <md-datepicker ng-model="userDate" md-placeholder="Enter date"
            md-min-date="ctrl.minDate" md-max-date="ctrl.maxDate" ng-change="dateFunction(userDate)" ng-show="show"></md-datepicker>
          </div>
          <div>
            <md-button class="md-raised md-primary" ng-click="showme=!showme">
            Specific Search
            </md-button>
            <form form method="post" ng-show="showme" class="fade-in-out">
              <p>Start Date</p>
              <md-datepicker ng-model="startDate" md-placeholder="Enter Start Date">
                
              </md-datepicker>
              
              <br>
              <p>End Date</p>
              <md-datepicker ng-model="endDate" md-placeholder="Enter End Date">
              </md-datepicker>
              <br>
              
              <md-button type="submit" class="md-raised md-accent"  ng-click="sDateFunction(startDate, endDate)">
                Search
              </md-button>
            </form>
          </div>
        </div>
        
      </md-content>

    </md-sidenav>

    <md-content flex layout-padding>

      <div layout="column" layout-align="top center">
        <div ng-include src= "'partials/spinner.html'"></div>

        <div>
          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            River Info
          </md-button>
        </div>  

        <div>
          <md-button ng-click="toggleRight()"
            ng-hide="isOpenRight()"
            class="md-primary">
            Weather
          </md-button>   
        </div>

        <div class="md-whiteframe-3dp charts col-md-12" layout="column">
          <canvas id="bar" class="chart chart-line"  chart-data="data"
            chart-labels="labels" chart-legend="true" chart-series="series"
            chart-click="onClick" >
          </canvas> 
          <br>
          <br>
          <canvas id="bar" class="chart chart-bar"  chart-data="data"
            chart-labels="labels" chart-legend="false" chart-series="series"
            chart-click="onClick" chart-series="series"
            chart-click="onClick">
          </canvas> 
          <br>
          <br>
        </div>  
      </div>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Weather</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
       
        <md-button ng-click="close()" class="md-primary">
          Close Weather
        </md-button>

        <h4>Long Term Forecast</h4>
        <p>Weather Station: {{weatherLocation}}</p>
        <p>{{weatherUnder[0].title}}: {{weatherUnder[0].fcttext}}</p>
        <p>{{weatherUnder[1].title}}: {{weatherUnder[1].fcttext}}</p>
        <p>{{weatherUnder[2].title}}: {{weatherUnder[2].fcttext}}</p>
        <p>{{weatherUnder[3].title}}: {{weatherUnder[3].fcttext}}</p>
        <p>{{weatherUnder[4].title}}: {{weatherUnder[4].fcttext}}</p>
        <p>{{weatherUnder[5].title}}: {{weatherUnder[5].fcttext}}</p>
        <p>{{weatherUnder[6].title}}: {{weatherUnder[6].fcttext}}</p>
        <p>{{weatherUnder[7].title}}: {{weatherUnder[7].fcttext}}</p>
      </md-content>

    </md-sidenav>

  </section>
</div>


