<div class="container"> 
    <md-whiteframe class="md-whiteframe-1dp md-display-2 col-md-12 riverHeader" col-md-12>{{riverInfo.name}} | {{riverInfo.nameProper}}
      <span ng-if='user.facebookId' class="addFav" class="text-right">
       <form method="post" action="/addFav/">
        <input type="hidden" value="{{riverInfo.id}}" name="riverId">
        <md-button class="md-raised md-cornered" type="submit" value="Add to rivers">Add to Favorite Rivers</md-button>
      </form>
 
     <md-button><a href="#" ng-click="showit=!showit">Add user info</a></li>
            <form form method="post" action="/addLevel/riverId" ng-show="showit" class="fade-in-out">
   
            <p>Water Level</p>
            <input type="number" class="form-control" name="riverLevel">
            <br>
            <button type="submit" class="btn btn-success" ng-click="showit=false">Update</button>
            </form></md-button></td>   
      </span>

  </md-whiteframe>

    <br>
    <br>
    <br>

    <md-whiteframe class="md-whiteframe-3dp col-md-4 displayInfo">
    
      
        <p>Location: {{riverInfo.nameProper}}</p>
        <p>Section: {{riverInfo.name}} </p>
        <p>Class:  {{riverInfo.class}} </p>
        <p>CFS: 
            <span class="frozen" ng-if="flows.timeSeries[0].values[0].value[0].value == -999999"> Frozen</span>  
            <span ng-if="flows.timeSeries[0].values[0].value[0].value != -999999">{{flows.timeSeries[0].values[0].value[0].value}}</span>
        </p>
     
      <br>
      <h4>Long Term Forecast</h4>
      <p>Weather Station: {{weatherLocation}} <p>
      <p>{{weatherUnder[0].title}}: {{weatherUnder[0].fcttext}}</p>
      <p>{{weatherUnder[1].title}}: {{weatherUnder[1].fcttext}}</p>
      <p>{{weatherUnder[2].title}}: {{weatherUnder[2].fcttext}}</p>
      <p>{{weatherUnder[3].title}}: {{weatherUnder[3].fcttext}}</p>
      <p>{{weatherUnder[4].title}}: {{weatherUnder[4].fcttext}}</p>
      <p>{{weatherUnder[5].title}}: {{weatherUnder[5].fcttext}}</p>
      <p>{{weatherUnder[6].title}}: {{weatherUnder[6].fcttext}}</p>
      <p>{{weatherUnder[7].title}}: {{weatherUnder[7].fcttext}}</p>
      <br>
      <br>
      <br>
      <br>
    </md-whiteframe>


    <div class="col-md-1"> .</div>
   
    <md-whiteframe class="md-whiteframe-15dp col-md-7 charts">
     <canvas id="bar" class="chart chart-line"  chart-data="data"
     chart-labels="labels" chart-legend="false" chart-series="series"
     chart-click="onClick" >
     </canvas> 
     <br>
     <br>
     <canvas id="bar" class="chart chart-bar"  chart-data="data"
     chart-labels="labels" chart-legend="false" chart-series="series"
     chart-click="onClick" chart-series="series"
     chart-click="onClick">
     </canvas> 

<br>
<br>
   </md-whiteframe>
</div>
<!-- <canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels"> chart-series="series"
</canvas
    <!  <md-checkbox ng-click="chart('line')" class="md-primary md-align-top-left"> Line </md-checkbox> <br>
      <md-checkbox ng-click="chart('bar')" class="md-warn md-align-top-left"> Bar </md-checkbox><br>
      <md-checkbox ng-click="chart('doughnut')" class="md-warn md-align-top-left"> Doughnut </md-checkbox><br>
      <md-checkbox ng-click="chart('radar')" class="md-warn md-align-top-left"> Radar </md-checkbox><br> -->