<!-- <div ng-controller="RiverController" -->
  <div class="jumbotron">
    <ul class="nav navbar-nav">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="btn btn-primary dropdown-toggle">Choose a State {{viewBarState}}</span></a>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="state('al')">Alabama</a></li>
          <li><a href="#" ng-click="state('ak')">Alaska</a></li>
          <li><a href="#" ng-click="state('az')">Arizona</a></li>
          <li><a href="#" ng-click="state('ar')">Arkansas</a></li>
          <li><a href="#" ng-click="state('co')">Colorado</a></li> 
       </ul>
      </li>
     </ul>

  <ul class="nav navbar-nav">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="btn btn-primary dropdown-toggle">Choose a Class {{viewBarState}}</span></a>
      <ul class="dropdown-menu">
        <li><a href="#" ng-click="class('v')">Class V</a></li>
        <li><a href="#" ng-click="class('iv')">Class IV</a></li>
        <li><a href="#" ng-click="class('iii')">Class III</a></li>
        <li><a href="#" ng-click="class('ii')">Class II</a></li>
        <li><a href="#" ng-click="class('i')">Class I</a></li> 
     </ul>
    </li>
   </ul>


   


  </div>

   <h1 class="well"> {{viewBarState}} {{flows.weather}} </h1>

   <table class="table table-hover">
        <th>River Name</th>
        <th>Class</th>
        <th>Season</th>
        <th>Flow</th>
    
      <tr ng-repeat="water in coWaters">
        <td>{{water.name}}</td>
        <td>{{water.class}} </td>
        <td>{{water.season}} </td>
        <td>{{flows.chanceofsnow}} </td>
      </tr>
    
    </table>

 </div>