<div>
  <div flex layout="row" md-display-2>

    <div>
      <md-input-container>
        <label for="testInput">Search Rivers</label>
        <input type="text"
               ng-model="myFilter" 
               md-autofocus>
      </md-input-container>
    </div>
  </div>
  <table class="table">
    <th>River</th>
    <th>Flow</th>

    <tr class="flow" id="sideTable" ng-repeat="water in coWaters | filter:myFilter" ng-class="setClassBasedOnFlow(flows[water.name], water.recommend, water.high)">

      <td><a href="/{{water.id}}">{{water.name}}: {{water.nameProper}}</a></td>
      <td>
        <span class="frozen five" ng-if="flows[water.name] == -999999">Frozen</span>  
        <span ng-if="flows[water.name] != -999999">{{flows[water.name]}}</span>
      </td>
    </tr> 
  </table>
</div>  